:root {
  --back-color: #0b0b0b;
  --primary-color: #333;
  --header-back: #080808;
  --header-text: #f0e3cc;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

.box img {
  border: 2px solid var(--primary-color);
}

nav {
  background-color: rgb(8, 8, 8);
  backdrop-filter: blur(20px);
  border-bottom: solid 1px var(--primary-color);
}

#TextColor {
  background-color: var(--header-text);
}

#Text {
  border: var(--header-text) 1px solid;
  color: var(--header-text);
}

.navbarlink span {
  color: var(--header-text);
}

.NavMore {
  background-color: var(--header-back);
  border-bottom: solid 1px var(--primary-color);
}

.flexnavbartools h2 {
  color: var(--header-text);
}

.flexnavbartools hr {
  border: solid 1px var(--header-text);
}

.flexnavbartools ion-icon {
  color: var(--header-text);
}

.flexnavbartools li a {
  color: #ccc;
} 

.flexnavbartools li a:hover {
  color: var(--header-text);
  border-bottom: solid 1px var(--header-text);
}

.navbartext h1 {
  color: var(--header-text);
}

.sidebar {
  background-color: #070707;
  border-right: 1px solid #333;
}

.sidebarlink .iconslink:hover {
  background-color: #131313;
}

.iconslink a {
  color: #bdbdbd;
}

.iconslink ion-icon {
  color: #bdbdbd;
}

.sidebartext h1 {
  color: #f0e3cc;
}

.sidebartext span {
  color: #f0e3cc;
}

.BgSidebar {
  background-color: rgba(2, 2, 2, 0.463);
}  

.QuicktoolsText h1 {
  color: #000;
  font-weight: 400;
  margin-bottom: 1rem;
}

.QuicktoolsText ion-icon {
  color: #000;
  margin: 1rem 0.8rem;
  font-size: 50px;
}