:root {
  --light: #ffffe9;
  --sky: #11120e;
  --purple: #f5f0de;
  --dark: #C0D6BD;
  --Natural: #f7fff6;
  --Onset: #07161b;
  --Cream: #ffd5bd;
  --Solid: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.ThemeSelc {
  text-align: center;
  font-size: 26px;
  width: 100%;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.8s all;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}

.theme-switches {
  display: flex;
  justify-content: center;
}

.switch {
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  height: 27px;
  width: 27px;
  margin: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.switch:hover {
  transform: scale(1.3);
  transition: 0.1s ease-in-out;
}

#switch-1 {
  background-color: var(--light);
}

#switch-2 {
  background-color: var(--sky);
}

#switch-3 {
  background-color: var(--purple);
}

#switch-4 {
  background-color: var(--dark);
}

#switch-5 {
  background-color: var(--Natural);
}

#switch-6 {
  background-color: var(--Cream);
}

#switch-7 {
  background-color: var(--Onset);
}

#switch-8 {
  background-color: var(--Solid);
}